.sondaBody {
  font-size: .8rem;
  padding: 5px !important;
  height: 200px !important;
  width: 200px !important;
}

.baseBorder {
  border-left: 5px solid blueviolet;
}

.allertBorder {
  border-left: 5px solid orangered;
}
